@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Theme Generic */
  .scheme {
    @apply bg-neutral-50 dark:bg-surface dark:text-neutral-200;
  }

  .bg-scheme {
    @apply bg-neutral-50 dark:bg-surface;
  }

  .bg-scheme-fade {
    @apply bg-neutral-50/95 dark:bg-surface/95;
  }

  .border-scheme {
    @apply border-neutral-300 dark:border-neutral-700;
  }

  .divide-scheme {
    @apply divide-neutral-300 dark:divide-neutral-700;
  }

  /* Focus State */
  .focus {
    @apply focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2
    focus:ring-offset-neutral-50 dark:focus:ring-offset-surface;
  }

  /* Buttons */
  button {
    @apply focus cursor-pointer;
  }

  /* Pre */
  .pre {
    @apply border borders p-3.5 px-5 rounded-md overflow-hidden;
  }

  /* Images */
  img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }

  /* Inputs */
  input,
  select,
  textarea {
    @apply disabled:cursor-not-allowed;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button,
  input[type='number'],
  select {
    -webkit-appearance: none;
  }

  input[type='checkbox'],
  input[type='radio'] {
    @apply rounded-sm border border-neutral-300;
  }

  input[type='file'] {
    @apply focus rounded-sm;
  }

  select:disabled {
    @apply cursor-not-allowed opacity-50;
  }

  /* Layout */
  .layout-header {
    @apply fixed top-0 w-full h-14 bg-transparent flex justify-end items-center px-5 select-none z-40;
    -webkit-app-region: drag;
  }

  .layout-content {
    @apply flex flex-col justify-between w-[94%] z-0;
  }

  .layout-section {
    @apply h-full flex flex-col justify-center;
  }

  .layout-footer {
    @apply flex items-center justify-center h-16;
  }

  .layout-fullscreen {
    @apply scheme fixed z-10 min-h-screen min-w-full flex flex-col justify-center overflow-hidden;
  }

  .layout-title {
    @apply title text-center mb-6;
  }
}

@layer components {
  /* Faux Header */
  .faux-header {
    @apply fixed h-10 top-0 inset-x-0 z-50 select-none;
    @apply flex items-center justify-end space-x-2 px-4 gap-x-1;
  }

  /* Typography */
  .title {
    @apply text-4xl font-extrabold;
  }

  .subtitle {
    @apply text-2xl font-extrabold;
  }

  .heading {
    @apply text-xl font-bold;
  }

  .text {
    @apply text-base text-neutral-500;
  }

  .text-info {
    @apply text-sm text-neutral-400 dark:text-neutral-100;
  }

  .text-link {
    @apply border-b cursor-pointer transition-all duration-200;
    @apply border-neutral-500 dark:border-neutral-400;
    @apply hover:border-b-neutral-700 dark:hover:border-b-neutral-200;
  }

  .text-link-hover {
    @apply border-b cursor-pointer transition-all duration-200;
    @apply border-b-transparent hover:border-b-neutral-700 dark:hover:border-b-neutral-200;
  }

  .btn {
    @apply flex items-center justify-center gap-x-1.5;
    @apply py-3 px-5 font-bold text-sm;
    @apply border-2 border-tertiary;
    @apply bg-tertiary text-white rounded-lg;
    @apply hover:bg-emerald-800 hover:border-emerald-800 hover:shadow-md;
    @apply disabled:hover:bg-tertiary disabled:hover:border-tertiary disabled:hover:shadow-none;
    @apply focus cursor-pointer select-none;
    @apply active:scale-95 transition-all;
  }

  .btn-disabled,
  .btn:disabled,
  button:disabled {
    @apply disabled:focus:outline-none disabled:cursor-not-allowed disabled:opacity-30 active:scale-100;
  }

  .btn-critical {
    @apply btn bg-primary hover:bg-primary-interactive;
    @apply border-primary hover:border-primary-interactive;
  }

  .btn-configs {
    @apply border-2 border-transparent rounded-lg;
    @apply hover:border-neutral-400 dark:hover:border-neutral-700;
    @apply hover:bg-neutral-200 dark:hover:bg-neutral-800;
    @apply hover:drop-shadow-sm dark:hover:drop-shadow-md;
    @apply px-4 py-2 w-full text-left;
  }

  .btn-configs-active {
    @apply bg-neutral-200 dark:bg-neutral-700;
  }

  .btn-outline {
    @apply focus py-3 px-5 font-bold text-sm rounded-lg;
    @apply flex items-center justify-center gap-x-1.5;
    @apply border-2 border-tertiary;
    @apply bg-transparent text-tertiary;
    @apply hover:bg-tertiary hover:text-white;
    @apply dark:text-teal-500 dark:hover:text-white;
  }

  .btn-outline-critical {
    @apply focus py-3 px-5 font-bold text-sm rounded-lg;
    @apply flex items-center justify-center gap-x-1.5;
    @apply border-2 border-primary-interactive hover:border-primary-interactive;
    @apply bg-transparent text-primary border-primary-interactive;
    @apply hover:bg-primary border-primary-interactive hover:text-white;
    @apply disabled:hover:bg-transparent disabled:hover:text-primary disabled:hover:border-primary-interactive;
  }

  .btn-md {
    @apply py-2 px-4 text-sm;
  }

  .btn-sm {
    @apply py-2 px-4 text-xs;
  }

  .btn-xs {
    @apply py-[0.25rem] px-[0.8rem] text-[0.55rem] rounded-md;
  }

  /* Form fields */
  .field {
    @apply flex flex-col space-y-1.5 mb-4;
  }

  .label {
    @apply text-xs text-neutral-500;
  }

  .input {
    @apply focus py-[0.6rem] px-3.5 rounded-md text-sm;
    @apply border border-neutral-300 dark:border-neutral-500;
    @apply bg-white dark:bg-inverse-surface;
    @apply hover:border-neutral-400 transition-colors;
  }

  .input-append {
    @apply flex items-center justify-center px-2 w-16 border border-neutral-300 dark:border-neutral-500 bg-neutral-50/[0.8] text-neutral-600 font-medium text-sm;
  }

  .input-prefix {
    @apply input-append border-r-0 rounded-l-md;
  }

  .input-suffix {
    @apply input-append border-l-0 rounded-r-md;
  }

  .input-readonly {
    @apply bg-neutral-300 !text-slate-500 border-neutral-500 cursor-not-allowed;
  }

  .select {
    @apply input bg-clip-padding bg-no-repeat;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23737373' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-position: right 1rem center;
    background-size: 1rem 1rem;
  }

  .checkbox {
    @apply focus h-4 w-4 bg-neutral-500 border-primary text-primary;
  }

  /* Form Section */
  .form-section-wrapper {
    @apply grid grid-cols-8 gap-10 py-8 select-none border-b border-scheme;
    @apply first-of-type:pt-0 last-of-type:border-none last-of-type:pb-0 last-of-type:mb-0;
  }

  .form-section-title {
    @apply col-span-3;
  }

  .form-section-content {
    @apply col-span-5;
  }

  /* Interactions */
  .peer-checks {
    @apply border-2 border-transparent peer-checked:border-tertiary dark:peer-checked:border-tertiary-container peer-focus:border-primary peer-checked:shadow-md dark:peer-checked:shadow-neutral-700 peer-checked:scale-[1.03] transition-all peer-focus:ring-2 peer-focus:ring-primary;
  }

  /* Menu */
  .card {
    @apply bg-neutral-50 dark:bg-surface-variant border dark:border-surface-variant-accent;
  }

  /* Notification */
  .notification {
    @apply flex justify-between items-start space-x-1 py-2 pl-3 pr-2 w-80 rounded-md shadow-md transition-all overflow-hidden bg-inverse-on-surface dark:bg-inverse-surface dark:text-white border border-neutral-100/[0.2];
  }

  /* Alerts */
  .alert {
    @apply flex items-center justify-center py-2 px-4 pl-3 font-semibold text-sm rounded-lg border;
  }

  .alert-info {
    @apply alert border-slate-400 dark:border-slate-500 bg-slate-100 dark:bg-slate-800;
  }

  .alert-action {
    @apply alert border-tertiary/50 bg-tertiary-container/20;
  }

  .alert-warning {
    @apply alert border-amber-600 bg-amber-100 text-amber-700;
  }

  .alert-critical {
    @apply alert border-error/[0.4] bg-error-container/[0.4] text-error dark:border-error/[0.7] dark:bg-primary-interactive/[0.1];
  }

  /* Piano */
  .piano-key-width {
    @apply;
  }

  .piano {
    @apply flex flex-row justify-center h-full;
  }

  .piano-key {
    @apply flex flex-col justify-end items-center p-4 hover:shadow-lg transition;
  }

  .piano-key-white {
    @apply w-24 lg:w-28 xl:w-32 bg-white relative border-black border-y border-l last:border-r h-full text-black;
  }

  .piano-key-black {
    @apply w-[87.5%] h-[55%] absolute z-10 top-0 -right-[43.75%] bg-black  text-white border border-black border-t-0;
  }

  .piano-key-hightlighted {
    @apply bg-primary text-white;
  }

  .piano-key-scale {
    @apply h-2.5 w-2.5 rotate-45 mb-2 bg-black opacity-90;
  }

  .piano-key-range {
    @apply h-6 flex justify-center items-center uppercase font-bold text-center text-xs text-neutral-600 bg-neutral-50 opacity-0 z-10 absolute top-[100%] mt-[1px] w-full transition-opacity ease-in-out;
  }

  /* Tooltip */
  .tooltip {
    @apply absolute rounded-md py-1 px-2 z-10 bg-black dark:bg-neutral-200 text-white dark:text-black;
    @apply transition-opacity duration-300 opacity-0 group-hover:opacity-100;
  }

  .tooltip-top {
    @apply bottom-[115%] left-1/2 -translate-x-1/2;
  }

  .tooltip-bottom {
    @apply top-[115%] left-1/2 -translate-x-1/2;
  }

  .tooltip-right {
    @apply left-[115%] top-1/2 -translate-y-1/2;
  }

  .tooltip-left {
    @apply right-[115%] top-1/2 -translate-y-1/2;
  }

  /* Shorcuts */
  .shortcut {
    @apply absolute rounded-md py-1 px-2 z-10 bg-black dark:bg-neutral-200;
    @apply text-white dark:text-black font-semibold text-sm text-center;
    @apply min-w-fit whitespace-nowrap drop-shadow-md;
    @apply hidden;
  }

  .shortcut-top {
    @apply bottom-[115%] left-1/2 -translate-x-1/2;
  }

  .shortcut-bottom {
    @apply top-[115%] left-1/2 -translate-x-1/2;
  }

  .shortcut-right {
    @apply left-[115%] top-1/2 -translate-y-1/2;
  }

  .shortcut-left {
    @apply right-[115%] top-1/2 -translate-y-1/2;
  }

  /* Search Complete */
  .dropdown-input {
    @apply placeholder:text-black dark:placeholder:text-white;
    @apply focus:placeholder:text-neutral-500 dark:focus:placeholder:text-neutral-600;
    @apply hover:border-neutral-400 transition-colors;
  }

  .dropdown-results {
    @apply absolute top-[95%] inset-x-0 bg-black text-white z-50 max-h-80 overflow-y-scroll overflow-x-hidden rounded-b-md;
  }

  .dropdown-results-item {
    @apply block w-full text-left py-2 px-4 focus:bg-primary focus:text-white outline-none;
  }

  /* Modal */
  .modal {
    @apply fixed z-50 inset-0 overflow-y-auto flex;
  }

  .modal-container {
    @apply h-screen w-screen flex items-center justify-center;
  }

  .modal-overlay {
    @apply fixed inset-0 transition-opacity bg-neutral-900 opacity-30 dark:opacity-95;
  }

  .modal-content {
    @apply relative inline-block bg-neutral-50 dark:bg-surface rounded-lg text-left overflow-hidden drop-shadow-2xl transform transition-all my-8 align-middle w-9/12 max-h-[85%] overflow-y-auto;
  }

  .modal-close {
    @apply fixed top-6 right-6;
  }

  /* Configs Menu */
  .configs-menu {
    @apply bg-neutral-50 dark:bg-surface-variant border dark:border-surface-variant-accent p-4 rounded-lg;
  }

  /* Action Component */
  .action-section {
    @apply rounded-md bg-neutral-800 border border-neutral-700 drop-shadow-sm overflow-hidden;
  }

  .action-footer {
    @apply bg-neutral-700 flex justify-end gap-x-4;
  }

  /* Pills */
  .pill-tertiary {
    @apply px-2 py-1 bg-tertiary border border-tertiary text-white text-xs font-semibold uppercase rounded-md tracking-wider;
  }

  .pill-neutral {
    @apply px-2 py-1 bg-neutral-700 border border-neutral-700 text-white text-xs font-semibold uppercase rounded-md tracking-wider;
  }

  .pill-neutral-outline {
    @apply px-2 py-1 bg-transparent border border-scheme text-neutral-500 dark:text-neutral-400 text-xs font-semibold uppercase rounded-md tracking-wider;
  }

  .pill-xs {
    @apply px-1.5 py-0.5 text-[0.6rem];
  }

  /* Files */
  .file-result {
    @apply border-scheme border rounded-md;
    @apply overflow-hidden flex flex-col justify-between;
  }

  .file-result-content {
    @apply py-4 px-5 grow flex flex-col items-center gap-1;
  }

  .file-result-footer {
    @apply flex items-center justify-center bg-neutral-200 dark:bg-neutral-800 h-9;
    @apply border-t border-scheme;
  }

  /* Meter */
  .bg-meter {
    background: rgb(22, 163, 74);
    background: linear-gradient(
      0deg,
      rgba(22, 163, 74, 1) 0%,
      rgba(35, 165, 72, 1) 70%,
      rgba(251, 190, 36, 1) 70%,
      rgba(240, 163, 35, 1) 97%,
      rgba(185, 28, 28, 1) 97%
    );
  }

  /* Range Slider */
  .range:disabled::-webkit-slider-thumb {
    @apply cursor-not-allowed opacity-25 hover:bg-neutral-500 active:bg-neutral-500 dark:hover:bg-neutral-400 dark:active:bg-neutral-400;
  }

  .range::-webkit-slider-thumb {
    @apply h-5 w-5 rounded-full cursor-ew-resize appearance-none transition-opacity;
    @apply bg-neutral-500 hover:bg-neutral-700 active:bg-neutral-700;
    @apply dark:bg-neutral-400 dark:hover:bg-neutral-300 dark:active:bg-neutral-300;
  }

  .range {
    @apply w-full p-1 mb-1.5 appearance-none focus rounded-3xl border;
    @apply bg-stone-200 dark:bg-neutral-700;
    @apply border-neutral-300 dark:border-neutral-600;
    @apply shadow-inner disabled:opacity-60 cursor-pointer;
    @apply enabled:hover:border-neutral-400 enabled:dark:hover:border-neutral-500 transition-colors;
  }

  .range-ticks-container {
    @apply w-full flex justify-between items-center select-none cursor-default px-1;
  }

  .range-ticks {
    @apply w-3 relative inline-flex justify-center text-xs font-semibold text-neutral-400 dark:text-neutral-600;
  }

  /* Info Popover */
  .info-popover {
    @apply absolute left-7 top-1/2 -translate-y-1/2 z-50;
    @apply scheme border border-scheme rounded-lg drop-shadow-md;
    @apply flex-col gap-2 py-2 px-4 w-72 text-pretty;
  }
}

@layer utilities {
  /* Borders */
  .borders {
    @apply border-neutral-200 dark:border-neutral-600;
  }

  .border-dividers {
    @apply divide-neutral-200 dark:divide-neutral-600;
  }
}
